/*css reset*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/*style*/
body {
    background: #eeeeee;
}

.globalHeader {
    margin: 0 30px;
    margin-top: 50px;
}

@media (min-width:500px) {
    .searchForm {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width:500px) {
    .searchForm {}
}

.searchForm {
    border: 1px solid #DDDDDD;
    background: white;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchForm>input {
    border: none;
    width: 100%;
    height: 46px;
    margin: 1px;
    padding: 0px 10px;
    font-size: 16px;
    outline: 0;
    color: #616161;
    font-family: 'Microsoft YaHei';
}

.searchForm>input::-webkit-input-placeholder {
    color: #DDDDDD;
    font-size: 16px;
}

.searchForm>button {
    border: none;
    border-radius: 0 8px 8px 0;
    white-space: nowrap;
    padding: 10px;
    background: white;
}

.searchForm>button>.icon {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.globalMain {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.favorites {}

.favorites_nav {
    margin-top: 10px;
}

.favorites_nav .line {

    display: flex;
    align-items: center;
    font-size: 14px;
    color: #616161;

}

.favorites_nav .line::before,
.favorites_nav .line::after {
    content: '';
    flex: 1;
    height: 1px;
    background: #ccc;
    margin: 0 30px;
}

.favorites_nav .line::before {
    margin-right: 10px;
}

.favorites_nav .line::after {
    margin-left: 10px;
}

.favorites_content {}

.favorites_content>ul {
    margin: 10px 30px;
    display: flex;
    flex-wrap: wrap;
}

@media(max-width:500px) {
    .favorites_content>ul {
        justify-content: space-between;
    }

    .favorites_content li {
        margin-bottom: 10px;
    }
}

@media(min-width:500px) {
    .favorites_content>ul {
        margin-left: 0;
        margin-right: -40px;
    }

    .favorites_content li {
        margin-right: 40px;
        margin-bottom: 20px;
    }

    .favorites_nav .line::before,
    .favorites_nav .line::after {
        margin-left: 0;
        margin-right: 0;
    }
}

.favorites_content .site {
    width: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: white;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 5px;
    position: relative;
    cursor: default;
}

.favorites_content .site>.logo {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: #000000;
}

.favorites_content .site>.link {
    font-size: 14px;
    color: #616161;
    margin-top: 4px;
    max-width: 100%;
    overflow: hidden;
}

.favorites_content .site>.close {
    position: absolute;
    right: 0;
    top: 0;
}

@media (min-width:500px) {
    .favorites_content .site>.close {
        display: none;
    }

    .favorites_content .site:hover>.close {
        display: block;
    }
}

.favorites_content .site>.close>button {
    background: white;
    border: none;
    padding: 2px;
    cursor: pointer;
}

.favorites_content .site>.close .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorites_content .addButton {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background: white;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

.favorites_content .addButton .icon {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorites_content .addButton .text {
    font-size: 14px;
    color: #616161;
    margin-top: 4px;
}

.e-learning_nav {
    margin-top: 10px;
}

.e-learning_nav .line {

    display: flex;
    align-items: center;
    font-size: 14px;
    color: #616161;

}

.e-learning_nav .line::before,
.e-learning_nav .line::after {
    content: '';
    flex: 1;
    height: 1px;
    background: #ccc;
    margin: 0 30px;
}

.e-learning_nav .line::before {
    margin-right: 10px;
}

.e-learning_nav .line::after {
    margin-left: 10px;
}

.e-learning_content {}

.e-learning_content>ul {
    margin: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.e-learning_content li {
    margin-bottom: 10px;
}

@media(min-width:500px) {
    .e-learning_content>ul {
        margin-left: 0;
        margin-right: 0;
    }

    .e-learning_nav .line::before,
    .e-learning_nav .line::after {
        margin-left: 0;
        margin-right: 0;
    }
}

.e-learning_content .site {
    width: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: white;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 5px;
}

.e-learning_content .site>.logo {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    color: #000000;
}

.e-learning_content .site>.link {}

.e-learning_content .site>.describe {
    font-size: 14px;
    color: #616161;
    margin-top: 4px;
}